


/* --- Tabs --- */
.mp3j-tabbuttons-wrap {
	position:relative;
	border:0; 
	min-height:30px;
	padding:5px 0 0 0; 
	width:auto; 
	overflow:visible;
}
	.mp3j-tabbutton { 
		float:left; 
		padding:6px 24px 6px 22px; 
		font-size:13px;
		margin:0;
		background:#e6e6e6;  
		font-weight:500; 
		-webkit-border-top-left-radius: 1px;
		-webkit-border-top-right-radius: 1px;
		-moz-border-radius-topleft: 1px;
		-moz-border-radius-topright: 1px;
		border-top-left-radius: 1px;
		border-top-right-radius: 1px;
		border-bottom:1px solid #fcfcfc;
		cursor:pointer;
		color:#888;
		-moz-user-select: 	-moz-none;
	   -khtml-user-select: 	none;
	   -webkit-user-select: none;
	   -ms-user-select: 	none;
	   user-select: 		none;
	}
	.mp3j-tabbutton:hover {
		background:#e6e6e6;
		text-decoration:underline;
	}
	.active-tab	{
		border:1px solid #c8c8c8;
		border-bottom:0px;
		padding:6px 23px 6px 21px;
		color:#333;
		font-weight:700;
		background:none;
		margin-top:-1px;
		text-decoration:none;
	}
	.active-tab:hover {
		background:none;
		text-decoration:none;
	}
	
.mp3j-tabs-wrap { 
	position:relative;
	height:auto;
	padding:0px 0 0 0;
}
	.mp3j-tab { 
		position:relative;
		height:auto;
		padding:20px 0px 40px 0px;
		background:#f1f1f1;
	}
		.tab-header { padding:2px 0 6px 0; margin:0; width:100%; }
		.tab-header h3 { margin:0 0 0 0 !important; }
		
		.tabH { font-size:19px; font-weight:700; }
		.tabD { font-style:italic; padding:0 0 10px 0; } 

		.mp3j-tab label { font-weight:700; }

		.mp3j-tab .description { color:#888; }
		
		.mp3j-tab hr { margin-bottom:8px; }
		
		
.unselectable * {
   -moz-user-select: 	-moz-none;
   -khtml-user-select: 	none;
   -webkit-user-select: none;
   -ms-user-select: 	none;
   user-select: 		none;
}


table.vTop td { vertical-align:top; padding:0 10px 10px 0; }

table.fileList { border-collapse:collapse; margin:0 0 0 0; }
table.fileList tr { padding:0; }
table.fileList td { text-align:left; vertical-align:top; padding:0 10px 0 0; }
table.fileList td * { padding:0; margin:0; }
table.fileList th { text-align:left; padding:0 0 15px 0; }

.vTop { vertical-align:top; padding:0 10px 10px 0; }


div#library-list, 
div#folder-list {
	position:relative;
	padding:10px 20px 15px 20px;
	margin:5px 0px 0px 0px;
	background:#f9f9f9;
	border:1px solid #eee;
}


.absTL { position:absolute; top:-1px; left:-1px; width:100%; }



/* ---  --- */
	.display_player_wrap {
		position:relative;
		min-width: 40px;
		width: 646px;
		border:1px solid #999;
		-webkit-box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.33);
		-moz-box-shadow:    0px 3px 8px 0px rgba(50, 50, 50, 0.33);
		box-shadow:         0px 3px 8px 0px rgba(50, 50, 50, 0.33);
		overflow:hidden;
		height:320px;
	}
	#display_player_liner {
		padding:40px 40px 50px 40px;
		width:auto;
		height:100%;
		background:url('images/admin-colours-bg.png') repeat;
	}

	.ui-resizable {
		position: relative;
	}
	.ui-resizable-handle {
		position: absolute;
		font-size: 0.1px;
		display: block;
	}
	.ui-resizable-disabled .ui-resizable-handle,
	.ui-resizable-autohide .ui-resizable-handle {
		display: none;
	}
	.ui-resizable-s {
		cursor: s-resize;
		height: 20px;
		width: 100%;
		bottom: -10px;
		left: 0;
		background:none;
	}
	.ui-resizable-e {
		cursor: e-resize;
		width: 20px;
		right: -10px;
		top: 0;
		height: 100%;
		background:none;
	}
	.ui-resizable-se {
		cursor: se-resize;
		width: 40px;
		height: 40px;
		right: 1px;
		bottom: 1px;
		background:url('images/resizable-handle.png') no-repeat right bottom;
	}

	
	.quietInput {
		background:#fcfcfc !important;
		border-color:#f0f0f0 !important;
		-webkit-box-shadow:none !important;
		-moz-box-shadow:none !important;
		box-shadow:none !important;
		color:#d6d6d6 !important;
	}
	.quietText { color:#d6d6d6 !important; }
	
	
	
	
	
.tick { padding-right:25px; font-size:11px; background:url('images/tick2.png') no-repeat left 2px; }


.icon-showlove {
	background:url('images/icons-admin-S.png') no-repeat -29px -4px;
	width:34px; height:34px; margin:0 auto;
	border:1px solid #d0d0d0;
	overflow:hidden;
}

.icon-showlove:hover {
	width:280px; height:120px;
}

.icon-extensions {
	background:url('images/icons-admin-S.png') no-repeat 2px -5px;
	padding:0 20px 0 0;
}
	
	
.l { text-align:left; }
.c { text-align:center; }
.r { text-align:right; }



#feedCounterpartInfo {
	border:1px solid #d0d0d0;
	padding:4px 10px;
	background:#f7f7f7;
	border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px;
}




.helpBox {
	border:2px solid #fff;
	border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;
	background:#f0f6f0;
	padding:15px;
}

/* ====================================================================================== */





a.fox_buttonlink { 
	background:#eaf2fa; 
	border:1px solid #afcfdb; 
	padding:1px 12px 2px 10px; 
	text-decoration:none; 
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
	a.fox_buttonlink:hover { background:#dbeafa; border:1px solid #99bac7; color:#222; }

	a.bl2 { padding:0px 31px 1px 31px; }






div.wrap { 
	border: 0px solid #FF3300;
	margin:0px 10px 0 20px;
	max-width:1200px;
}
	div.wrap p { margin:0 0 4px 0; }
	div.wrap h1 { font-weight:500; font-size: 22px; line-height:22px; margin:20px 0 5px 0; padding:0; }
	div.wrap h2 { font-size: 10px; line-height:10px; margin:0; padding:0; }
	div.wrap h3 { margin:0 0 8px 20px; } 
	div.wrap h4 { margin:20px 0 0px 0; }
	
	div.wrap p.jtick { 
		margin:0 0 2px 24px; 
	}
	div.wrap p.jtick2 { 
		margin:0 0 2px 35px; 
	}
	div.wrap p.jtext { 
		margin:0 0 10px 20px; 
	}
	
	.joptionswrap {
		border-top:0px solid #eee;
		margin:30px 0 40px 0px;
	}
		.joptionswrap h4 {
			margin:6px 0 3px 0;
			width:250px;
		}
		.jopbox {
			border:1px solid #f0f0f0;
			padding:10px 20px;
			margin-bottom:15px;
			min-width:550px;
		}
		a.bl3 { 
			display:block;
			width:200px;
			padding:0 0 0 20px;
			margin:5px 0 1px 0;
			/* background:#f0f0f0; 
			border:1px solid #d0d0d0;
			color:#696969; */
		}
			a.bl3:hover { /* background:#e9e9e9; border:1px solid #c9c9c9; color:#606060; */ }

.clearB { clear:both; }
.Ahelp1 { float:left; width:300px; border-top:0px solid #ccc; }

#tog_0-list p { margin:10px 0 10px 0; }
#tog_0-list h4 { margin:10px 0 10px 0; }

